

    div.header {
        font-size: 13px;
        color: rgb(139, 139, 139);
    }


    div.outer-trackbox {
        // float: right;
        width: 800px;
        border: 1px solid black;
        // margin-left: 150px;

        .inner-trackbox {
            width: 799px;
            border: 1px solid black;
            // float: right;

            .play-button {
                margin-top: 70px;
            }

        }

        figure {

            progress {
                width: 500px;
            }
        }

        .img_container {
            float: left;
            border: 1px solid black;
            width: 150px;
            height: 150px;
            // padding-right: 300px;
            margin-right: 22px;
        }

        .artist > a {
            text-decoration: none;
            color: rgb(161, 161, 161);
        }

        .artist > a:hover {
            color: rgb(56, 56, 56);
        }

        .trackname > a {
            text-decoration: none;
            color: rgb(61, 61, 61);
        }

        .trackname > a:hover {
            color: black;
        }

        .artist {
            text-decoration: none;
            font-size: 12px;
            // float: right;

            .time-ago {
                float: right;
                color: rgb(207, 207, 207);
                font-size: 11px;
            }

        }

        .trackname {
            text-decoration: none;
            font-size: 16px;

            .genre {
                float: right;
                font-size: 12px;
                font-weight: lighter;
                // position: absolute;
                color: white;
                background-color: rgb(150, 150, 150);
                border-radius: 20px;
            }

            .genre:hover {
                background-color: gray;
                cursor: pointer;
            }
        }

    }