body {
  overflow-y: scroll;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    padding-bottom: 75px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


