body {
  overflow-y: scroll;
  background: #f2f2f2 url(https://dummyimage.com/1240x100/fff/fff.png) repeat-y
    50% 0;
  margin: 0;

  padding: 0;
  padding-bottom: 75px;

  font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda,
    Verdana, Tahoma, sans-serif;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"],
input[type="password"] {
  box-sizing: border-box;
}


.app-container {
  padding-top: 0px;
}

.app-container .app-content {
  padding-top: 46px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 0px;
  width: 1180px;
  margin: 0 auto;
}



